/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
	list-style: none;

	&:not([class]) {
		margin-left: $spacing;
		list-style: disc;
	}
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-white);
	color: var(--color-black);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
	helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	line-height: 1.5;
	min-height: 100vh;
  text-rendering: optimizeSpeed;
	width: 100%;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

h1 {
	font-size: var(--step-3);
}
h2 {
	font-size: var(--step-4);
	line-height: 1.2;
}

.toc__title,
.equipment-contact__title,
h3 {
	font-size: var(--step-2);
	line-height: 1.4;
}
h4 {
	font-size: var(--step-1);
}

li,
a,
p {
	font-size: var(--step-0);
	line-height: 1.8;
}

p {
	max-width: $max-text-width;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
  color: currentColor;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: var(--step-0);
}

img {
	border-radius: 0.25rem;
	display: block;
	height: auto;
  max-width: 100%;
}

:focus-visible {
	outline: 3px dashed;
	outline-offset: 2px;
}