.flex {
  column-gap: $spacing-large;
	display: flex;
  row-gap: $spacing;
}

.flow > * + * {
	margin-top: $spacing-small;
}

.flow--xl > * + * {
	margin-top: $spacing-extra-large;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex-grow: 1;
  }
}

.wrapper {
	margin-left: auto;
  margin-right: auto;
	max-width: $max-container-width;
	padding: $spacing $spacing-large;
  position: relative;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.prominent {
	display: block;
	font-size: clamp(3.11rem, calc(2.58rem + 2.67vw), 4.2rem);

}
