.flex {
  column-gap: $spacing-medium;
	display: flex;
  row-gap: $spacing;
}

.flow > * + * {
	margin-top: $spacing-small;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex-grow: 1;
  }
}

.page-wrapper {
	padding: $spacing $spacing-large;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}