:root {
	// Fluid typography
  --step--1: clamp(0.83rem, calc(0.77rem + 0.30vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.91rem + 0.45vw), 1.25rem);
  --step-1: clamp(1.20rem, calc(1.07rem + 0.66vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.25rem + 0.93vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.47rem + 1.30vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.72rem + 1.78vw), 3.05rem);

	// Fluid spacing
	--space-xs: clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem);
	--space-s: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
  --space-m: clamp(1.25rem, 0.76vw + 1.06rem, 1.67rem);
  --space-l: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
  --space-xl: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem);
  --space-2xl: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);

  // Colors
  --color-white: #FFF;
  --color-black: #211E1C;
  --color-primary: #003082;
  --color-secondary: #343A40;
  --color-accent-1: #39A0ED;
  --color-accent-2: #E8EEEF;
}