@use 'spacing' as *;

@import './components/page-header';
@import './components/toc';

.equipment-category {
  &__content {
    column-gap: $spacing-large;
    display: grid;
    row-gap: $spacing;

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(3, 1fr);
      .equipment-type-list {
        grid-column: 2/span 2;
      }
    }

  }
}

.equipment {
  &__image {
    display: grid;
    min-height: 300px;
    place-content: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__info {
    border: 2px solid var(--color-secondary);
    border-radius: 0.25rem;
    padding: $spacing-small $spacing;

    .spec-list {
      .spec {
        display: grid;
        column-gap: $spacing;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        &__label {
          font-weight: 600;
        }
      }

      @media screen and (min-width: $large) {
        columns: 2;
        column-fill: balance;
      }
    }

  }
}
