@use 'spacing' as *;

@import './components/feature-list';

.hero {
  margin-bottom: $spacing-2x-large;
  margin-top: $spacing-large;

  &__title {
    font-size: var(--step-2);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  &__lead {
    font-size: var(--step-1);
  }

  @media screen and (min-width: $large) {
    align-items: flex-end;
    column-gap: $spacing-large;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.departments,
.features {
  margin-top: $spacing-2x-large;
}

.departments {
  &__list {
    display: grid;
    row-gap: $spacing-2x-large;

    .card {
      &__title {
        text-transform: uppercase;
      }

      &__action {
        text-align: right;
      }
    }

    @media screen and (min-width: $large) {
      column-gap: $spacing-large;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $max-content-width) {
      li:first-child {
        margin-bottom: $spacing-2x-large;
        margin-top: 30%;
      }

      .card {
        display: grid;
        grid-template-areas: "a"
                             "b"
                             "c";
        &__title {
          grid-area: a;
        }
        &__picture,
        &__description {
          grid-area: b;
        }
        &__action {
          grid-area: c;
        }

        &__description {
          background-color: rgba(0, 48, 130, 0.9);
          color: var(--color-white);
          display: grid;
          font-size: var(--step-1);
          opacity: 0;
          padding: 0 $spacing-2x-large;
          place-content: center;
          transition: 0.25s;

          &:hover,
          &:active {
            opacity: 1;
          }
        }
      }
    }
  }
}


.features {
  .card {
    padding: $spacing-large;

    &:first-child {
      background-color: var(--color-accent-2);
      border-radius: 0.25rem;
      margin-bottom: $spacing-large;
    }

    @media screen and (min-width: $medium) {
      grid-template-columns: 250px 1fr 1fr;

      &__title {
        margin-top: 0;
      }
    }
  }
}