@use 'spacing' as *;

@import './components/page-header';

.plastics-category {
  &__products {
    column-gap: $spacing-medium;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    row-gap: $spacing;
  }

  @media screen and (min-width: $large) {

    &__cta {
      margin-left: 35%;
      margin-right: 8%;
      margin-top: $spacing-extra-large;
    }
  }
}

.plastic {
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;
  padding: $spacing-small $spacing-medium;

  &__title {
    font-size: var(--step-2);
  }

  &__subtitle {
    font-size: var(--step-1);
    font-weight: 600;
  }

  &__specs {
    list-style: "➜ ";
    margin-left: $spacing-medium;

    li::marker {
      color: var(--color-primary);
      margin-right: $spacing;
    }
  }
}