{% extends "layouts/base.html" %}
{% set pageStyle = "css/about.css" %}

{% set pageHeaderTitle = title %}

{% block content %}
  <article class="flow--xl about">
    {% include "partials/page-header.html" %}

    <div class="wrapper">
      <p>{{ description }}</p>
    </div>

    <div class="wrapper about__values">
      <h2>{{ values.title }}</h2>
      <p>{{ values.description }}</p>
    </div>

    <article class="flow--xl about__history">
      {{ content | safe }}
    </article>

    {% set ctaContent = aboutCTA %}
    {% include "partials/cta.html" %}
  </article>
{% endblock %}