{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = hero.lead %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
  </article>
  <div class="[ panel dot-shadow ] [ bg-tertiary-glare ]">
    <div class="wrapper">
      <article class="[ productGroup ] [ flow flow-space-800 ]">
        {% for item in productGroup %}
        <figure class="[ productGroup__item ] [ flow ]">
          <div class="[ productGroup__media ] [ frame ]" data-frame="primary">
            {% image
              item.imageSrc,
              item.imageAlt
            %}
          </div>
          <figcaption class="[ productGroup__content ] [ flow ]">
            <a href="{{ item.url }}" class="[ productGroup__heading ]">
              <h3>{{ item.title }}</h3>
            </a>
          </figcaption>
        </figure>
        {% endfor %}
      </article>
    </div>
  </div>

  {{ content | safe }}

  {% include "partials/cta.html" %}

{% endblock %}