{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = lead %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
  </article>
  <article>
    <h2>{{ productCategories.title  }}</h2>
    <ul class="flex">
      {% for item in collections[productCategories.collection] %}
      <figure>
        <div>
          {% image
            item.data.image,
            item.data.imageAlt
          %}
        </div>
        <figcaption>
          <a href="{{ item.url }}">
            <h3>{{ item.data.title }}</h3>
          </a>
        </figcaption>
      </figure>
      {% endfor %}
    </ul>
  </article>
  <article class="flow">
    {{ content | safe }}
  </article>

  {% include "partials/cta.html" %}

{% endblock %}