{% extends "layouts/base.html" %}
{% set pageStyle = "css/department.css" %}

{% block content %}
  <article class="hero">
    <div class="hero__header flow wrapper">
      {% if logo %}
        <figure>
          <figcaption>
              <h1 class="visually-hidden">{{ title }}</h1>
          </figcaption>
          {% image
            logo.image,
            logo.imageAlt
          %}
        </figure>
      {% else %}
        <h1 class="hero__title prominent">{{ title }}</h1>
      {% endif %}
      <p class="hero__tagline">{{ tagline }}</p>
    </div>
    <div class="hero__lead">
      <div class="wrapper">
        <p class="lead__content">{{ lead }}</p>
      </div>
    </div>
  </article>
  <article class="category wrapper flow">
    <h2>{{ productCategories.title  }}</h2>
    <ul class="category__list flex">
      {% for item in collections[productCategories.collection] %}
      <li class="category__item">
        <figure class="category-item flow">
          <div class="category-item__image">
            {% image
              item.data.image,
              item.data.imageAlt
            %}
          </div>
          <figcaption>
            <a class="category-item__link" href="{{ item.url }}">
              <h3 class="category-item__title">{{ item.data.title }}</h3>
            </a>
          </figcaption>
        </figure>
      </li>
      {% endfor %}
    </ul>
  </article>
  <article class="flow">
    {{ content | safe }}
  </article>

  {% include "partials/cta.html" %}

{% endblock %}