{% extends "layouts/base.html" %}
{% set pageStyle = "css/equipment.css" %}

{% set pageHeaderTitle = title %}
{% set localizedType = collections[page.fileSlug] | localeFilter(locale) %}

{% block content %}
  <article class="equipment-category flow--xl">
    {% include "partials/page-header.html" %}
    <div class="equipment-category__content wrapper">
      <aside class="toc">
        <div class="toc__wrapper">
          <div class="toc__content">
            <h2 class="toc__title">{{ 'toc' | i18n }}</h2>
            {{ localizedType | eleventyNavigation(page.fileSlug) | eleventyNavigationToHtml({listClass:"toc__list"}) | safe }}
          </div>
        </div>
      </aside>
      <ul class="equipment-type-list flow--xl">
        {% for type in localizedType %}
          <li>{% include "partials/equipment-type.html" %}</li>
        {% endfor %}
      </ul>
    </div>
    {% set ctaContent = equipmentCTA %}
    {% include "partials/cta.html" %}
  </article>
{% endblock %}
