{% extends "layouts/base.html" %}
{% set pageStyle = "css/home.css" %}

<!-- define block content -->
{% block content %}
	<article class="hero flow wrapper">
		<h1 class="hero__title">
			{{ hero.perf }} <br>
			<span class="prominent">{{ hero.plas }} &</span>
			<span class="prominent">{{ hero.equip }}</span>
		</h1>
		<p class="hero__lead">{{ hero.lead }}</p>
	</article>

	{% set ctaContent = primaryCTA %}
	{% include "partials/cta.html" %}

	<article class="departments flow wrapper">
		<h2 class="departments__title visually-hidden">{{ productCategories.title }}</h2>
		<ul class="departments__list">
			{% for departmentContent in collections["departments_" + locale] %}
				{% set cardContent = departmentContent.data %}
				{% set cardCtaLink = departmentContent.url %}
				<li>
					{% include "partials/card.html" %}
				</li>
			{% endfor %}
		</ul>
	</article>

	{% include "partials/feature-list.html" %}

	{% set ctaContent = cta[locale] %}
	{% include "partials/cta.html" %}

{% endblock %}
