<div class="[ product-categories ] [ flow ]">
  <div class="[ wrapper ] [ flow ]">
    <h2>{{ productCategories.title }}</h2>
    <ul>
      {% for item in collections["departments_" + locale] %}
        <li>
          <article>
            {% image item.data.image, item.data.imageAlt %}
            <h3>{{ item.data.title }}</h3>
            <p>{{ item.data.description }}</p>
            <a
            href="{{ item.url }}"
            aria-label="{{ item.data.title }}">
                Go to {{ item.data.title }}
            </a>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>