<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="site-head__inner wrapper">
    <a href="/{{ locale }}" aria-label="{{ site.name }} - home" class="site-head__brand">
      {% include "partials/brand.html" %}
    </a>
    <nav class="site-head__nav nav flex">
      {% set navPages = collections.all | localeFilter(locale) | eleventyNavigation("Home") %}
      <ul class="nav__list flex">
        {% for entry in navPages %}
        <li>
          <a href="{{ entry.url }}" {{ helpers.getLinkActiveState(entry.url, page.url) | safe }}
            >{{ entry.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% include "partials/language-switcher.html" %}
    </nav>
  </div>
</header>
